.homepage {
  height: 100vh;
  background-image: url(${backgroundImage});
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center; /* Center content horizontally */
}

.content {
  justify-content: center; /* Center horizontally */
  text-align: center;
  color: white;
  padding: 20px;
  flex-grow: 1; /* Allow content to expand vertically */
  display: flex; /* Use flexbox */
  flex-direction: column; /* Stack items vertically */
  align-items: center; /* Center vertically */
}

.plan-trips {
  margin-top: 50px;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

button {
  padding: 10px 20px;
  margin: 0 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

button.local-trip {
  background-color: red; /* Blue color */
  color: white;
}

button.international-trip {
  background-color: red; /* Green color */
  color: white;
}

button.local-trip:hover,
button.international-trip:hover {
  filter: brightness(200%); /* Increase brightness on hover */
}

@media (max-width: 768px) {
  .content {
    padding: 10px;
  }
}
